{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
		'conf-carousel'
  ]
%}

{{ attach_library('conference/tabs') }}
{{ attach_library('conference/carousel') }}
<div{{attributes.addClass(classes)}}>
	<div class="conf-carousel__container">
		<div class="conf-carousel__wrapper">
			{% if rows -%}
				{{ rows }}
			{% elseif empty -%}
				{{ empty }}
			{% endif %}
		</div>
		<div class="conf-carousel__arrows">
			<button class="conf-carousel__arrow-left">
				{% include "@conference/miscellaneous/svg.twig" with {
					icon_name: "arrow"
				}%}
			</button>
			<button class="conf-carousel__arrow-right">
				{% include "@conference/miscellaneous/svg.twig" with {
					icon_name: "arrow"
				}%}
			</button>
		</div>
		<div class="conf-carousel__nav"></div>
	</div>
</div>
